.messenger {
  height: calc(100vh - 88px);
  display: flex;
  width: 100%;
  /* background-color: aqua; */
  margin-top: 88px;
}

.chatMenu {
  width: 33%;
  background-color: rgba(255, 236, 174, 0.952);
  /* background-color: #ffd68d; */
}

.chatMenuWrapper {
  /* background-color: rgb(133, 221, 221); */
  overflow-y: auto;
}

.chatMenuInput {
  width: 95%;
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
  background-color: rgba(255, 236, 174, 0.952);
  /* background-color: #ffd68d; */
  /*other font attributes and border*/
}

.chatMenuInput:focus {
  outline: none;
}

.chatBox {
  /* background-color: rgb(22, 194, 137); */
  width: 67%;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.chatBoxHeader {
  padding: 20px 10px;
  border-bottom: 2px solid lightgray;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0px 0px 25px -8px darkgray;
  /* width: 100%; */
}

.chatBoxHeaderLeft {
  display: flex;
  margin-right: 10px;
}

.chatBoxHeaderImg {
  height: 57px;
  width: 57px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.chatBoxHeaderContent {
  display: flex;
  flex-direction: column;
}

.chatBoxHeaderName {
  font-weight: bold;
  font-size: 24px;
}

.chatBoxHeaderStatus {
  font-size: 18px;
}

.chatBoxViewProfileButton {
  background-color: red;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  margin-right: 20px;
}

.chatBoxTop {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  /* width: 100%; */
}

.chatBoxBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 0px 25px -8px rgb(107, 107, 107);
  /* background-color: wheat; */
  /* width: 100%; */
}

.chatMessageInput {
  width: 100%;
  height: 80px;
  padding: 0px 10px;
  border: none;
  font-size: 22px;
  /* background-color: wheat; */
}

.chatMessageInput:focus {
  outline: none;
}

.chatMessageInput::-webkit-scrollbar {
  width: 0px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(240, 158, 6);
  color: white;
  margin: 0px 10px;
}

.chatAgreementButton {
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(240, 158, 6);
  color: white;
  margin: 0px 10px;
}
.chatMenuWrapper {
  height: 100%;
  padding: 10px;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
  align-self: center;
  padding: 20px;
}
