.trendingSwapItemImg {
    max-height:300px;
    object-fit:cover;
}

.trendingSwapItemBody {
    max-height: 130px;
    overflow-y: auto;
}

.trendingSwapItemBody::-webkit-scrollbar {
    width: 0px;
}

.trendingSwapText {
    font-weight: bold;
}