.topbarWrapper {
  height: 88px;
  align-items: center;
  background: rgb(255, 204, 50);
  position: sticky;
  position: -webkit-sticky;
  z-index: 9999;
  width: 100%;
  /* overflow-x: hidden; */
}

.mr-auto {
  background-color: rgb(255, 204, 50);
  /* background-color: green; */
  width: 100%;
  align-items: center;
  text-align: center;
}

.topbarLeft {
  flex: 4;
  justify-items: space-around;
  align-items: center;
}

.logo {
  margin-top: 10px;
  position: relative;
  margin-right: 10px;
}

.ReHashLogo {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-right: 16px;
  margin-left: 12px;
  margin-top: -10px;
  cursor: pointer;
  align-items: center;
}

.logoText {
  font-size: 36px;
  font-weight: 500;
  cursor: pointer;
}

.swapText {
  margin-left: 260px;
  font-size: 20px;
  cursor: pointer;
  margin-top: -40px;
}

.topbarCenter {
  flex: 5.5;
}

/* .searchbar {
  width: 1000px;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: 0px;
  margin-right: 100px;
} */

.searchbar {
  /* background-color: purple; */
  width: 60%;
  min-width: 400px;
  align-items: center;
  text-align: center;
  height: 35px;
  margin-left: 20px;
  background-color: white;
  border-radius: 30px;
}

/* .swap {
  width: 100%;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: -350px;
  background-color: blue;
} */

.swap {
  /* background-color: blue; */
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

/* .searchInput {
  border: none;
  width: 70%;
} */

.searchInput {
  border: none;
  width: 90%;
  margin-top: 5px;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 2.5;
  display: flex;
  align-items: center;
}

.topbarIcons {
  display: flex;
}

.topbarItems {
  margin-top: 15px;
}

/* .chat {
  display: flex;
  font-size: 50px !important;
  margin-right: 20px;
  cursor: pointer;
  margin-left: 20px;
} */

.chat {
  /* background-color: red; */
  margin-left: 40px;
  font-size: 50px !important;
  margin-bottom: 10px;
}

/* .userProfilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-left: 20px;
} */

.userNotification {
  /* background-color:brown; */
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10px;
  border: none;
}
.userNotificationList {
  max-height: 200px;
  overflow-y: scroll;
}

.userNotificationIcon {
  font-size: 40px !important;
}

.userProfilePic {
  background-color: aquamarine;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-bottom: 10px;
}
