.topbarWrapper {
    height: 88px;
    align-items: center;
    background: rgb(255, 204, 50);
    position: sticky;
    position: -webkit-sticky;
    z-index: 999;
    width: 100%;
}

.mr-auto {
    background-color: rgb(255, 204, 50);
}

.topbarLeft {
    flex: 4;
    justify-items: space-around;
    align-items: center;
}

.logo {
    margin-top: 10px;
    position: relative;
    margin-right: 10px;
}

.ReHashLogo {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-right: 16px;
    margin-left: 12px;
    margin-top: -10px;
    cursor: pointer; 
    align-items: center;
}

.logoText {
    font-size: 36px;
    font-weight: 500;
    cursor: pointer; 
}

.swapText {
    margin-left: 260px;
    font-size: 20px;
    cursor: pointer;
    margin-top: -40px;
}

.topbarCenter {
    flex: 5.5;
}

.searchbar {
    width: 1000px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 0px;
   margin-right: 100px;
}

.swap {
    width: 100%;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: -350px;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}
  
.searchInput {
    border: none;
    width: 70%;
}
  
.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 2.5; 
    display: flex;
    align-items: center;
}

.topbarIcons {
    display: flex;
}
  
.topbarItems {
    margin-top: 15px;
}

.chat {
    display: flex;
    font-size: 50px !important;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.userProfilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 20px;
}