.commentWrapper {
  background-color: #f3f5f8;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-top: 8px;
}

.commentContainer {
  /* background-color:hotpink; */
}

.commentUserDetails {
  display: flex;
}

.commentProfileImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.commentProfileText {
  /* background-color: purple; */
  width: 80%;
  margin-left: 10px;
  font-weight: bold;
}

.commentDelete {
  text-decoration: underline;
  color: rgb(184, 181, 181);
}

.commentDelete:hover {
  color: darkgray;
  cursor: pointer;
}

.commentUserContent {
  width: 90%;
  /* background-color: blue; */
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
  margin-left: 40px;
}
