.inviteComponentWrapper {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.inviteComponentContainer {
  /* background-color: blue; */
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

.inviteComponentText {
  font-weight: normal;
  font-size: 12px;
}

.inviteComponentInput {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f7;
}

.inviteComponentErrorMessage {
  color: red;
  font-size: 10px;
  font-weight: normal;
}

.inviteComponentSuccessMessage {
  color: green;
  font-size: 10px;
  font-weight: normal;
}

::placeholder {
  font-size: 12px;
}

.GroupSidebarWrapper {
  height: 100%;
  display: flex;
  overflow-y: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.groupProfileDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.groupProfile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.groupName {
  font-size: 18px;
  font-weight: bold;
  /* background-color: darkorange;*/
}

.groupNameText {
  /* background-color: darkorchid; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.groupNameWrapper {
  /* background-color: blue; */
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  overflow: hidden;
  width: 110%;
}

.groupInviteButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.groupInviteButton {
  display: flex;
  flex-direction: column;
  background-color: #ffab03;
  width: 181px;
  height: 33px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-right: 10px;
}

.groupInviteButtonText {
  color: #ffffff;
}

.groupJoinButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.groupJoinButton {
  display: flex;
  flex-direction: column;
  background-color: #ffab03;
  width: 181px;
  height: 33px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.groupJoinButtonText {
  color: #ffffff;
}

.groupDescriptionContainer {
  width: 200px;
  /* background-color: pink; */
  word-wrap: break-word;
  margin-left: 33px;
}

.groupDescriptionHeader {
  display: flex;
  justify-content: space-between;
  /* background-color: darkred; */
}

.groupDescriptionHeaderText {
  font-weight: bold;
}

.groupDescriptionHeaderEdit {
  color: darkorange;
  text-decoration-line: underline;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.groupDescriptionTextArea {
  width: 100%;
  border-color: darkorange;
  border-radius: 10px;
  border-width: 3px;
  outline-color: darkorange;
  background-color: #ffd68d;
}

.groupDescriptionTextArea::-webkit-scrollbar {
  width: 0;
}

.groupDescriptionError {
  font-size: 10px;
  color: red;
}
.groupLeaveButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px;
  /* background-color: aqua; */
}

.groupMenuItem:hover {
  background-color: lightsalmon;
}

.groupMyPostsIcon {
  margin-right: 0px;
}

.groupMyPosts {
  cursor: pointer;
  margin-left: 0px;
  padding: 5px 20px;
}

.groupLeaveButton {
  display: flex;
  flex-direction: column;
  background-color: #ff3f03;
  width: 181px;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.groupLeaveButtonText {
  color: #ffffff;
  font-weight: bold;
}
