* {
  box-sizing: border-box;
}

.myGroupsPageMiddleSection {
  display: flex;
  width: 100%;
  height: calc(100vh - 88px);
}

.myGroupsPageMiddleSectionRight {
  /* height: calc(100vh - 88px); */
  height: 100%;
  width: 83%;
  overflow-y: auto;
  /* background-color: bisque; */
}

.myGroupsPageMiddleSectionRightHeaderText {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  background-color: blue;
  margin-top: 12px;
}
.myGroupsPageGroupIconWrapper {
  margin-left: 50px;
}

.myGroupsPageGroupIconContainer {
  display: flex;
  /* justify-content: space-around; */
  /* margin-left: 50px; */
}
