.homeWrapper {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  /* width: 100%; */
  overflow-x: hidden;
  /* background-color: darksalmon; */
}

.itemsType {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.trendingSwapHead {
  font-size: 24px;
  font-weight: bold;
}
