.groupIconButtonBackground {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 180px;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-right: 15px;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.groupIconButtonBackground:hover {
  background-color: lightgray;
}

.groupIconButtonImg {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  object-fit: cover;
}

.groupIconButtonName {
  margin-top: 10px;
  font-weight: bold;
}
