.createListingContainer {
  width: 100%;
  overflow-x: hidden;
}

.createListingHeader {
  /* margin-top: 100px; */
  margin-top: 12px;
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
}

.createListingContent {
  width: 100%;
  max-width: 100%;
  /* background-color: bisque; */
}

.uploadImagesCard {
  background-color: white;
  /* width: 660px;
  height: 600px; */
  margin-left: 50px;
  margin-top: 35px;
}

.uploadImagesCardHeader {
  text-align: center;
}

.uploadImagesCardSubHeader {
  color: #d3d3d3;
  text-align: center;
}
.swapImgDragAndDropWrapper {
  background-color: white;
  display: flex;
  margin-top: 30px;
}

.createListingContentRight {
  /* background-color: coral; */
  /* align-content: flex-start;
  align-items: flex-start; */
  margin-top: 28px;
}

.formWrapper {
  /* justify-content: flex-start; */
  margin-left: 15px;
  /* background-color: chartreuse; */
  width: 100%;
}

.swapAwayFormControl {
  /* width: 400px; */
  width: 70%;
}

.postButton {
  margin-top: 8px;
  width: 150px;
  height: 50px;
}

.dragAndDropDiv {
  height: 150px;
}

.thumb {
  /* background-color: aquamarine; */
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 4px;
  box-sizing: "border-box";
}

.userSwapImg {
  display: block;
  width: 160px;
  height: 100px;
  object-fit: cover;
}

.thumbsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

.uploadImgButton {
  justify-content: center;
  text-align: center;
}
