.userlistingContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 88px);
  /* overflow-y: auto; */
}

.userListingsRight {
  /* height: calc(100vh - 88px); */
  height: 100%;
  width: 83%;
  overflow-y: auto;
  /* background-color: bisque; */
}

.userlistingWrapper {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* 
.dummyRow {
   flex: 20%; 
}

.tabRow {
   flex: 10%;
}*/
.userListingLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.listingRow {
  flex: 90%;
}

.tabBar {
  /* margin-top: 100px; */
  position: -webkit-sticky;
  position: sticky;
  z-index: 998;
}
