.userItemCommandPrompt {
  background-color: #f5f5f7;
  width: 320px;
  margin-left: 100px;
  position: absolute;
}

.userItemCommandUserImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  cursor: pointer;
}

.userItemCommandUsername {
  margin-top: 15px;
  padding-left: 20px;
  font-size: 20px;
  position: static;
}

.buttonWrapper {
  margin-top: 20px;
}

.button {
  width: 230px;
  margin-bottom: 10px;
  display: flex;
}

.icons {
  margin-right: 10px;
  color: white;
  align-self: flex-end;
  margin-bottom: 3px;
}

.action {
  color: white;
  font-size: 20px;
}

.userItemCommandFormControl {
  width: 230px;
}
