.userReviewsContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 88px);
  /* background-color: indianred; */
}

.userReviewsRight {
  height: 100%;
  width: 83%;
  overflow-y: auto;
  /* background-color: bisque; */
}
.userReviewsWrapper {
  display: flex;
  flex-direction: column;

  /* margin-top: 88px; */
  margin-left: 20px;
  /* background-color: greenyellow; */
}

.userReviewsHeader {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
